
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @{
            if (!User.Identity.IsAuthenticated)
            {
                <h1 class="display-4">Welcome</h1>
                <p>Please log in to gain access to the management system</p>
            }
            if (User.Identity.IsAuthenticated)
            {
                <h1 class="display-4">Welcome!</h1>
                <p>You have logged in the system successfully!</p>
            }
        }

    </div>
